$color-primary: #D04F4F;
$color-ingredients: #3282F7;
$color-appliances: #68D9A4;
$color-ustensils: #ED6454;

$color-grey: #C7BEBE;
$color-grey-light: #E7E7E7;

$font-title: "DM-sans", sans-serif;
$font: "Lato", sans-serif;